temp
*.pyc
VideoDownload/youku/player
VideoDownload/youku/vedio
/node_modules
GameDownload/Journey of Jesus/game_images
GameDownload/Journey of Jesus/gos
/xxzhs/video
xxzhs/list1.json
xxzhs/list2.json
ltzj_image_convert/cfg_src
/ltzj_image_convert/dist
dtcq/abc
dtcq/data
dtcq/data2
dtcq/dd_abc
dtcq/de_abc
dtcq/lua
dtcq/lua2
dtcq/lua18
dtcq/tmp
dtcq/zip
dtcq.rar
dtcq/luadec.rar
dtcq/1.8
/dtcq/source
/dtcq/src
dtcq/apps
/convert/.idea


/cocosxxtea/tmp
/casc/data